<form [formGroup]="survey" novalidate (ngSubmit)="onSubmit(survey)">

  <div class="form-group">
    <input type="text" class="form-control " laceholder="Untitled Question" formControlName="main-queston">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Untitled Question" formControlName="main-type">
  </div>

  <div class="main-content">

    <div formArrayName="sections">
      <div class="section-container" *ngFor="let section of getSections(survey); let i = index">
        <div class="ui raised segments" [formGroupName]="i">
          <h4 class="ui header">Section Details</h4>

          <hr>
          <div class="question-container" formArrayName="questions">
            <div [formGroupName]="j" *ngFor="let question of getQuestions(section); let j = index">


              <div class="form-group">
                <input type="text" class="form-control " laceholder="Untitled Question" formControlName="questionTitle">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Untitled Question" formControlName="questionType">
              </div>

              <div *ngIf="survey.errors" class="alert alert-danger">
                {{ survey.errors }}
              </div>
              <hr>

              <div class="main-content">
                <a (click)="add(i,j)">Add Option</a>
                <a (click)="remove(i,j)">Remove whole options</a>
                <div formArrayName="options">
                  <div [formGroupName]="k" *ngFor="let option of getOptions(question); let k=index">

                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Option 1" formControlName="questionType">
                    </div>


                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Option 1" formControlName="optionTitle">
                    </div>

                    <span *ngIf="getOptions(question).length > 1" (click)="removeOption(i,j,k)">Remove Option</span>
                  </div>


                </div>
                <br>
                <a (click)="addQuestion(i)">Add Question...</a>
              </div>
            </div>
            <br>
          </div>

        </div>
        <br>
        <button (click)="addSection()" class="point">Add Section </button>
        <span *ngIf="getSections(survey).length > 1" (click)="removeSection(i)">Remove Section</span>
      </div>
    </div>
    <button type="submit">submit</button>
  </div>
</form>